#btn{
    background-color: #ff482a;
    color: #fff;
}

.demo-tab-group {
    border: 1px solid #e8e8e8;
    background-color: rgb(227, 223, 223);
}

.demo-tab-content {
    padding: 16px;
}

.HeaderBack{
    background: red;
    color: white;
}